{% extends 'main_base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="home-container">
    <div class="home-links">
        <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
        <a href="{% url 'register' %}" class="btn btn-primary">Register</a>
    </div>
</div>

<style>
    .home-container {
        text-align: center;
        
    }
    
    .btn-primary {
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        margin: 0 10px;
        display: inline-block;
    }
    
    .btn-primary:hover {
        background-color: #0056b3;
    }
</style>
{% endblock %}
